/* Empty. Add your own CSS if you like */
.scroll-content {
    background: url(http://www.ekoparty.org/images/buenos-aires-3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}