{"filter":false,"title":"config.xml","tooltip":"/config.xml","ace":{"folds":[],"scrolltop":170,"scrollleft":0,"selection":{"start":{"row":29,"column":38},"end":{"row":29,"column":38},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":1,"state":"start","mode":"ace/mode/xml"}},"hash":"5a354fb0fa244d69ff63ebb3e4e3db74b1d70ce9","undoManager":{"mark":0,"position":-1,"stack":[]},"timestamp":1407020349929}