<ion-view title="Crear alarma">
  <ion-nav-buttons side="right">
    <button menu-toggle="left" class="button button-icon icon ion-ios7-checkmark-empty"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
    <div class="card">
      <div class="item item-text-wrap">
        <p>
          Quiero que mi alarma suene a <b>{{alarm.ratio}} kilometros</b>
          <div class="range range-positive">
            <input type="range" min="1" max="9" value="5" name="ratio" ng-model="alarm.ratio">
          </div>
        </p>
        <p>
          antes de llegar a
        </p>
        <div class="list list-inset">
          <label class="item item-input padding">
            <i class="icon ion-location placeholder-icon"></i>
            <input type="text" placeholder="Direccion" ng-model="alarm.targetAddress" required>
          </label>
        </div>
        <span ng-click="confirmAddress()" style="font-size:small" class="assertive"><b>esta no es la direccion que busco</b></span>
      </div>
    </div>
    
    <button  ng-click="getTargetPosition()" class="button button-full button-royal">
      Ubicar destino
    </button>
  </ion-content>
</ion-view>
